:root {
  --bg: #fff;
  --bg2: #f2f2f2;
  --fg: #111;
  --fg2: #333;
}

html, body, input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
a, button { color: var(--fg); }
body { padding: 0 2rem; }
button, form, input, textarea { font-size: 16px; }
input:focus, textarea { outline: none !important; }
table {
  width:100%;
  border-collapse: collapse;
}
footer {
  border-top: 1px solid var(--fg2);
  margin-top: 2rem;
  text-align: right;
}
main {
  clear: both;
}
nav a {
    border: 1px solid var(--fg2);
    padding: 0.5rem;
    text-decoration: none;
}
nav a.active { border-bottom-color: var(--bg);}
nav li { 
  display: inline-block;
  padding-bottom: 0.5rem;
}
nav li:last-child a { margin-right: 0.5rem; }
nav ul {
  display:flex;
  justify-content: flex-end;
  gap: 0.5rem;
  border-bottom: 1px solid var(--fg2);
}
td { padding: 0.25rem 0; }
textarea {
  display: block;
  width: 100%;
  height: 460px;
  padding: 2rem;
  box-sizing: border-box;
  line-height: 1.5;
}
th { text-align: left; }
tr:nth-child(even) { background-color: var(--bg2); }
.button, .boxbutton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
.boxbutton, .mdtitle { 
  border: 1px solid var(--fg2);
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.headerlink { 
  text-decoration: none;
  float: left;
  width: 460px;
}
.headerlink pre {
  margin-top: 0;
}
.submit { 
  margin-top: 2rem !important; 
}
#login {
  border: 1px solid;
  padding: 2rem;
  display: block;
  max-width: 360px;
  margin: 0 auto;
}
#login input {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
}
#logout {
  text-align: right;
  padding-bottom: 1rem;
}
#topLinks { text-align:right; }

@media screen and (max-width: 768px) {
    pre { font-size: 11px; }
}
@media (prefers-color-scheme: dark) {
:root {
  --bg: #1c1c1e;
  --bg2: #333;
  --fg: #fefefe;
  --fg2: #666;
}
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
  a, button { color: var(--fg); }
  footer, nav a, nav ul, .boxbutton, .mdtitle, #login  { border-color: var(--fg2); }
  nav a.active { border-bottom-color: var(--bg); }
  tr:nth-child(even) { background-color: var(--bg2); }
  form input { 
    background-color: var(--bg);
    color: var(--fg);    
    border:1px solid var(--bg2);
  }
}